

body{
  margin: 0 auto;
}

/*header section*/
.header-flex{
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 background-color: white;
 display: flex;
 justify-content: space-between;
 border-bottom: 2px solid black;
 width: 100%;
 padding: 10px 7px;
 position: fixed;
 z-index: 2;
}

.title{
  color: MediumAquamarine;
  width: 400px;
  display: flex;
  justify-content: flex-start;
}

.navigation{
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}

#li{
  display: inline-block;
  width: 100px;
  color: black;
}

/*main content*/
div{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.main{
  display: flex;
  top: 119px;
  position: relative;
  z-index: 1;
  height: 1250px;
  width: 100%;
}

.large{
  width: 630px;
  margin: 10px;
}

.medium{
  width: 300px;
  margin-left: 20px;
}

.small{
  width: 240px;
  margin-left: 30px;
}

.broken{
  width: 275px;
}

.columns{
  display: flex;
  text-align:left;
  justify-content: space-between;
}

/*images*/

.image-one{
  background-image: url("../images/img-story-main.png");
  display: flex;
  width: 630px;
}

.image-two{
  background-image: url("../images/img-story-2.png");
  width: 300px;
}

.image-three{
  background-image: url("../images/img-story-3.png");
  width: 300px;
}

.image-four{
  background-image: url("../images/img-story-1.png");
}

.pic{
  height: 300px;
  display: flex;
  align-self: center;
}

h3{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
}

p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
  min-width: 300px;
}

.story{
  font-size: 40px;
}

/*newsbite list*/
h5{
  color: DimGray;
  font-family: Georgia;
  font-weight:normal;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 10px;
}

.gray{
  background-color: lightgray;
  display: flex;
  flex-flow: column
}

/*footer*/
.footer{
  font-size: 15px;
  font-family: Georgia;
  background-color: MediumAquamarine;
  height: 250px;
  width: 100%;
  border-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.ab{
  font-family: Georgia;
  font-weight: bold;
  font-size: 23px;
  border-right: 2px solid white;
  padding-right: 20px;
  color: white;
}

#black{
color: black;
font-family: Georgia;
padding-left: 12px;
}

.c{
font-size: 11px;
}
