/* Universal Styles */

html {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  background-color: #dcdcdc;
  color: #2f2f2f;
  max-width: 580px;
}

body {
  line-height: 1.4;
  margin: 0;
}

header {
  height: 5.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-bottom: 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  font-family: "Verdana", sans-serif;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0.5em 0.5em 2em 0.2em  #2f2f2f;/*dark gray*/
}

nav {
  display: flex;
  align-items: right;
  justify-content: space-between;
}


.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.logo img {
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
  box-shadow: -0.5em 0.2em 0.5em  #2f2f2f;/*dark*/
  border-radius: 2rem;
}

a {
  color: #9e1a1a;/*red*/
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: bold;
}

ls {
  font-size: 0.9em;
  padding-left: 0;
}

nav span {
  display: inline-block;
  padding: 0.5em 0.3em;
  font-size: 0.8em;
}


/* Main Content Container */

.content {
  padding-top: 7rem;
  padding-left: 1em;
  padding-right: 6rem;
  margin: 0 auto;
}


.day {
  padding: 1em;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
  box-shadow: -0.5em 0.7em 2em  #2f2f2f;/*dark grey*/
  background-color: white;
  width: 14.1em;
  font-size: 1.2em;
}


.hour{
  padding-left: 0.5rem;
  color: #9e1a1a /*red*/;
  font-weight: bold;
}



/* Footer */

footer {
  font-family: "Verdana", sans-serif;
  font-size: 0.5rem;
  padding: 2rem;
}
